@font-face {
  font-family: "MerriweatherLight";
  src: url("../fonts/Merriweather-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "MerriweatherRegular";
  font-weight: 400;
  src: url("../fonts/Merriweather-Regular.ttf");
}


@font-face {
  font-family: "MerriweatherBold";
  src: url("../fonts/Merriweather-Bold.ttf");
  font-weight: 700;
}